.flex-container {
    
    /*
    O CSS Flexible Box Layout Model ou simplesmente Flexbox faz parte da especificação do CSS3 que promete organizar elementos na página previsivelmente quando o layout precisa ser visualizado em diversos tamanhos de tela e em diversos dispositivos.
    */
    
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap; /*usar 100% da vista atual*/
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 5px; /*Espaço sobre so conteiner*/
    
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
    line-height: 150%;
    }

    header {background: black;color:white;}

    footer {background: #aaa;color:white;}
    
    .nav {background:#eee;
        font-size: 150%; 
        line-height: 125%}
    
    .nav ul {list-style-type: none;}
    
    .nav ul a {
    
        text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}