@charset "UTF-8";

* {
    font-family: Arial, sans-serif;
}

body {
	background-color: rgb(255, 255, 255);
	font-size: 16px;
}

figure {
	text-align: center;
	opacity: 0.5;
}

input {
	font-size: 16px;
	margin: 2px;
	width: 200px;
	height: 40px;
	border-radius: 5px;
}

input[type="submit"] {
	width: 205px;
	background-color: rgb(66, 103, 178);
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

p {
	text-align: center;
}

iframe#iframePage{
	width: 900px;
	height: 300px;
}

img#imgFileUser{
	cursor: pointer;
	width: 80px;
	height: 80px;
}

.fieldsetPage {
	background-color: #f2f2f2;
	margin: 100px auto;
	text-align: center;
	width: 300px;
	height: 350px;
	border-radius: 10px;
	border-color: #f2f2f2;
}

.mainPage {
    padding: 30px;
    margin: auto;
    max-width: 900px;
    background-color: #f2f2f2;
}

.mainPageHeader {
	text-align: center;
}

.mainPageFooter {
	text-align: center;
}

.mainPageHeaderButton {
	border-color: rgb(66, 103, 178);
	border-radius: 10px;
	width: 150px;
	height: 40px;
}
