
@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');
@media screen and (min-width:600px){
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../imgs/imagem1.jpg");
}
#interface{
    display: flex;
    flex-flow: row wrap;
    font-family: 'Poppins', sans-serif;
    background-color: #9e9e9e;
    color: #353535;
    opacity: 0.8;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    max-width: 960px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#interface > *{     /* regra aplicada a todos os subelementos dos seletores  */
    flex: 1 100%;
}

#side-menu nav ul li{
    display: inline;
    background-color: #56d376;
}

@media all and (min-width: 800px) {
    #side-menu {
        flex: 1;
        color: #FFF;
        background-color: rgba(138,204,170,0.5);
    }
    #article {
        flex: 3;
        background-color: rgba(121,212,141,0.5);
    }
    #sidebar nav ul li{
        display: block;
    }
}
.repeat{
    background: #a3aaac;
}
.btn {
  display: inline-block;
  padding: .7em 1.7em;
  background: #4ce586;
  color: #444;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background: #4ce586;
  }
}
}
