body{
    font-family: Arial, "Times New Roman";
}
#interface h1, h2{
    font-size: 28px;
    text-align: center;
    color: black;

}
#interface .code{
    border: 1px solid #000;
    background-color: whitesmoke;
    padding: 10px;

}
#interface .code .titleCode{
    border: 1px solid #000;
    background-color: whitesmoke;
    padding: 20px;

}


#interface table {
    border: black 1px solid;
}
#interface table tr td{
    border: black 1px solid;
}

#interface #exemplo1 { 
        width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s; 

        } 
        

#interface #exemplo1:hover { 
        width: 100%;
        } 
        #interface #exemplo3:hover { 
        width: 100%;
        } 
        #interface #exemplo4:hover { 
        width: 100%;
        } 
        #interface #exemplo5:hover { 
        width: 100%;
        } 
        #interface #exemplo6:hover { 
        width: 100%;
        } 
        #interface #exemplo7:hover { 
        width: 100%;
        } 

  

#interface #exemplo3{
    width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s; 
    transition-timing-function: linear;
}
#interface #exemplo4{
    width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s; 
transition-timing-function: ease
}

#interface #exemplo5{
    width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s; 
transition-timing-function: ease-in
}
#interface #exemplo6{
    width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s; 
transition-timing-function: ease-out
}
#interface #exemplo7{
    width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s; 
transition-timing-function: ease-in-out

     