@charset "UTF-8";

body{
  width:960px;
  margin:15px auto;
  text-align: justify;
  font-family: "Century Schoolbook L", sans-serif;
}

header#page-header nav ul li, footer#page-footer nav ul li{
  display: inline;
  margin: 0 20px 0 0;
}

section#posts{
  float: left;
  width: 74%;
}

h2{
  color: blue;
}

section#posts aside{
  float: right;
  width: 35%;
  margin-left: 5%;
  font-size: 125%;
}

section#sidebar{
  float: right;
  width: 25%;
}

footer#page-footer{
  clear: both;
  text-align: center;
}

.codebox {
  /* Below are styles for the codebox (not the code itself) */
  border:1px solid black;
  background-color:papayawhip;
  width:200px;
  overflow:auto;
  padding:10px;
}
.codebox code {
  /* Styles in here affect the text of the codebox */
  font-size:0.9em;
  /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}
