@charset "UTF-8";

body{
  width: 960px;
  margin: 15px auto;
  text-align: justify;
  font-family: Arial, sans-serif;
}

header#page-header nav ul li, footer#page-footer nav ul li{
	display: inline;
	margin: 0 20px 0 0;	
}

section#posts{
  width: 75%;
  margin: 0 auto;
  
  
  border: 1px solid; 
}
