@charset "UTF-8";

* {
    font-family: 'PT Sans Narrow', sans-serif;
}

body {
    background-color: #dddddd;
}

p {
    text-align: justify;
    text-indent: 20px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
}
#page-header, .pcenter {
    text-align: center;
}
#page-footer > * {
    text-align: center;
}

#page-footer nav ul li {
    display: inline;
    margin: 0 10px 0 10px;
}
